<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- build:css(app) /assets/css/concise.css -->
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/concise.css">

        <!-- endbuild -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'> -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,800' rel='stylesheet' type='text/css'>


<style>
#mobile-header {
display: none;
}
@media only screen and (max-width: 767px){
#mobile-header {
display: block;
}
}
</style>


    </head>
    <body>
    {% include navbar-main.html %}
      <main class="container">
        {{ content }}
      <aside class="site">
        <h2>Site Aside</h2>
        <section class="aside">

        </section>

      </aside> 
      </main>
      <footer class="footer">
        <p>
          olivier<br />
          <a href="mailto:help@checkmy.ws">help@checkmy.ws</a>
        </p>
        <p>
          <a href="https://github.com/yourusername">github.com/yourusername</a><br />
          <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
        </p>
      </footer>

<script>
  document.createElement( "picture" );
</script>

<!-- build:js(app) /assets/js/script.js -->
<script>window.jQuery || document.write('<script src="/_bower_components/jquery/dist/jquery.js"><\/script>')</script>
<script src="/assets/js/concise.js"></script>
<!-- endbuild -->

    </body>
</html>
