{% if page.locale == "fr" %}
  {% assign description = "Site de support du service Check my Website" %}
{% elsif page.locale == "en" %}
  {% assign description = "Check my Website support and help center" %}
{% endif %}

<!DOCTYPE html lang="{{ page.locale }}">
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ description }} - {{ site.name }}</title>
  <meta name="description" content="{{ page.lead }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico">
  <!-- build:css({app,.tmp}) /assets/css/main.css -->
  <link rel="stylesheet" href="/_bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/_bower_components/highlightjs/styles/solarized_light.css">
  <link rel="stylesheet" href="/_bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/raneto.css">
  <link rel="stylesheet" href="/assets/css/theme.css">  
  <!-- endbuild -->

</head>
<body class="{{body_class}}">

  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">

          <a href="/" class="logo">{{ site.name }}</a>

        </div>
        <div class="col-sm-6">

          <form class="search-form form-inline pull-right" role="form" action="/">
            <div class="form-group hidden">
              <label class="sr-only" for="search">Search</label>
              <input type="search" class="form-control" name="search" id="search" size="30" value="{{search}}" placeholder="Search">
            </div>
          </form>

        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    {{ content }}
  </div>

  <footer class="footer">
    <div class="container-fluid">

      <p class="copyright pull-right">© Novateek - 2014 - Licensed under GPLv3</p>

    </div>
  </footer>
  <!-- build:js(app) /assets/js/main.js -->
  <script src="/_bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/_bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/_bower_components/highlightjs/highlight.pack.js"></script>
  <script src="/_bower_components/fitvids/jquery.fitvids.js"></script>
  <script src="/_bower_components/masonry/dist/masonry.pkgd.min.js"></script>
  <script src="/assets/js/raneto.js"></script>
  <!-- endbuild -->
  {% include js/googleanalytics.html %}
</body>
</html>