---
layout: page
---

{% if page.locale == "fr" %}
  {% assign name = "en français" %}
{% elsif page.locale == "en" %}
  {% assign name = "in english" %}
{% endif %}

<h2>Console</h2>

{% for faq in site.faqs %}
{% if faq.locale == page.locale and faq.category == 'console' %}
    <h3>{{ faq.question }}</h3>
    <p>{{ faq.content | markdownify }}</p>
   {% endif %}
{% endfor %}

<h2>Commercial</h2>

{% for faq in site.faqs %}
{% if faq.locale == page.locale and faq.category == 'sales' %}
    <h3>{{ faq.question }}</h3>
    <p>{{ faq.content | markdownify }}</p>
   {% endif %}
{% endfor %}
