---
layout: default
---

<article>
  <header>
		<h1>{{ page.title }}</h1>

  <!-- 320px 480px 768px 1024px 1224px 1524px -->        
  <picture>
  <!--[if IE 9]><video style="display: none;"><![endif]-->
  <source srcset="http://placekitten.com/1000/400" media="(min-width: 1224px)">
  <source srcset="http://placekitten.com/900/300" media="(min-width: 1024px)">
  <source srcset="http://placekitten.com/800/400" media="(min-width: 768px)">
  <source srcset="http://placekitten.com/500/300" media="(min-width: 480px)">
  <source srcset="http://placekitten.com/320/240">
  <!--[if IE 9]></video><![endif]-->
  <img srcset="http://placekitten.com/400/200" alt="Les jolis chats">
  </picture>

		<p class="meta">{{ page.locale }}</p>
	</header>
  <section>
    {{ content }}
  </section>
            <aside class="aside-article">
      <div id="responsiveAsideArticles">
        <ul>
        <li><a href="#tab-related">Article Related</a></li>
        <li><a href="#tab-latest">Article Latest</a></li>
      </ul>


      <div id="tab-related">
        <section id="related-pages" class="tabs">		
          {% include article-teaser.html %}

          {% include article-teaser.html %}

          {% include article-teaser.html %}

          {% include article-teaser.html %}

        </section>
      </div>
      <div id="tab-latest">
        <section id="latest-pages" class="tabs">
          {% include article-teaser.html %}

          {% include article-teaser.html %}

          {% include article-teaser.html %}

          {% include article-teaser.html %}
        </section>
      </div> 
  

      </div> 
        </aside>
  <footer>
  	<h2>Article footer</h2>
  </footer>
</article>
