---
layout: default
---

{% if page.locale == "fr" %}
  {% assign help = "Toujours besoin d'aide ? <a href='mailto:help@checkmy.ws'>Prenez contact !</a>" %}
{% elsif page.locale == "en" %}
  {% assign help = "Still need help? <a href='mailto:help@checkmy.ws'>Get in touch!</a>" %}
{% endif %}

<div class="row">
    <div class="col-sm-3">

        {% include menu.html %}

    </div>
    <div class="col-sm-9">

        <section class="content">
            <h1 class="title">{{ page.title }}</h1>
            <p class="jumbotron">{{ page.lead }}</p>
            
            {{ content }}

            <div class="page-meta clearfix">
                <div class="contact-support pull-left">
                    <span class="glyphicon glyphicon-envelope"></span> {{ help }}
                </div>
                <div class="last-updated pull-right hidden">
                    Last updated on {{ page.updated }}
                </div>
            </div>
        </section>

    </div>
</div>