<ul class="menu">

  <li class="category">
    <h5 class="category-title"><a href="/{{ page.locale }}/terms-definitions/">Terms and definitions</a></h5>
  </li>
  <li class="category">
    <h5 class="category-title"><a href="/{{ page.locale }}/faq/">FAQ</a></h5>
  </li>

  <li class="category">
    <h5 class="category-title"><a href="/{{ page.locale }}/howtos/">Howtos</a></h5>
    {% if page.url contains "/howtos" %}
    <ul class="pages">
      {% assign sorted_articles = site.howtos | sort: 'title' %}
      {% for article in sorted_articles %}
        {% if article.locale == page.locale %}
          <li class="page"><a href="{{ article.permalink }}">{{ article.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endif %}

  <li class="category">
    <h5 class="category-title"><a href="/{{ page.locale }}/console/">Console</a></h5>
    {% if page.url contains "/console" %}
    <ul class="pages">
      {% assign sorted_articles = site.console | sort: 'weight' %}
      {% for article in sorted_articles %}
        {% if article.locale == page.locale %}
          <li class="page"><a href="{{ article.permalink }}">{{ article.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endif %}

</ul>

