

<ul class="menu">

  <li class="category">
    <h5 class="category-title">FAQ</h5>
  </li>

  <li class="category">
    <h5 class="category-title">Howtos</h5>
    {% if page.url contains "/howtos" %}
    <ul class="pages">
      {% assign sorted_articles = site.console | sort: 'weight' %}
      {% for howto in sorted_articles %}
        {% if howto.locale == page.locale %}
          <li class="page"><a href="{{ howto.permalink }}">{{ how.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endif %}

  <li class="category">
    <h5 class="category-title">Console</h5>
    {% if page.url contains "/console" %}
    <ul class="pages">
      {% assign sorted_articles = site.console | sort: 'weight' %}
      {% for article in sorted_articles %}
        {% if article.locale == page.locale %}
          <li class="page"><a href="{{ article.permalink }}">{{ article.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endif %}

  <li class="category">
    <h5 class="category-title">API</h5>
    {% if page.url contains "/api" %}
    <ul class="pages">
      {% assign sorted_articles = site.api | sort: 'weight' %}
      {% for article in sorted_articles %}
        {% if article.locale == page.locale %}
          <li class="page"><a href="{{ article.permalink }}">{{ article.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endif %}

</ul>

