

<ul class="menu">
            <li class="page{{#active}} active{{/active}}"><a href="/{{ page.locale }}/faq">FAQ</a></li>
            <li class="page{{#active}} active{{/active}}"><a href="/{{ page.locale }}/howtos">Howtos</a></li>
            <li class="page{{#active}} active{{/active}}"><a href="/{{ page.locale }}/console">Console</a></li>
            <li class="page{{#active}} active{{/active}}"><a href="/{{ page.locale }}/api">API</a></li>
    <li class="category">
        <h5 class="category-title">Howtos</h5>
        <ul class="pages">
        {% for howto in site.howtos %}
{% if howto.locale == page.locale %}
            <li class="active"><a href="{{ howto.permalink }}">{{ howto.title }}</a></li>
            {% endif %}
{% endfor %}
        </ul>
    </li>
</ul>