li.category > a {
	color : #333;
}

figure { 
  display: table; 
}

figcaption { 
  display: table-caption; /* aligns size to the table of the figure */
  caption-side: bottom; /* makes the caption appear underneath the image/figure */
  margin-bottom: 1em;
  text-align: center;
  font-size: 0.7em;
}