body-background-image =  url(../img/css/background.png)
header-background-image = url(../img/css/background_header.png)
logo-image = url(../img/logo.png)

color1 = #2f3a59
color2 = #5bb996
color3 = #f2f2f2
color4 = #ff6867

font-color-light = #fff
font-color-dark = #444

hr-color = #1f283d

article img
  max-width:100%
  margin-bottom:1.5em

main 
	background-color:white

body
	background-image: body-background-image



css {

	.navbar-default .navbar-nav > li > a {
	color: $font-color-light; 
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-default .navbar-nav > li > a:active {
	color: $color4;
}

.navbar-default .navbar-nav > li > a:hover {
	color: $color4;
}

.navbar-default .navbar-nav > .active > a {
	border-bottom: thick solid $color4;
}

.navbar-default .navbar-nav > .active > a:focus {
	background-color: inherit;
}

}